.team {
  border-bottom: 1px solid var(--border-color);
}

.team_container-border {
  margin: 0 7.5vw;
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

.team_text-container {
  padding: 102px 21px 72px;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
}

.team_text-cont {
  position: relative;
}

.team_text {
  font-size: 8vw;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  font-weight: 100;
}

.team_line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px 28px 80px;
  border-bottom: 1px solid var(--border-color);
}

.team_line-last {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px 28px 80px;
}

.team_name {
  font-size: 6.5vw;
  color: var(--text-color);
  font-weight: 100;
}

.team_img-cont {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team_position {
  color: var(--text-color);
  font-family: "Neuehaasdisplay Roman", sans-serif;
}

.team_name-span {
  color: var(--main-text-color);
}

.team_text-arrow {
  font-size: 2.2vw;
  color: var(--main-text-color);
  position: absolute;
  top: 10px;
  left: -80px;
}

.team_img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  object-position: left;
}

@media (min-width: 1201px) and (max-width: 1440px) {
  .team_container-border {
    margin: 0 7.5vw;
  }
  .team_text-arrow {
    font-size: 28px;
    top: -5px;
  }
  .team_line {
    padding: 75px 18px 50px;
  }
  .team_img {
    width: 10vw;
    height: 10vw;
  }
  .team_img-cont {
    width: 45%;
  }
  .team_position {
    font-size: 1vw;
  }
  .team_text-container {
    padding: 80px 0px 60px;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .team_container-border {
    margin: 0 7vw;
  }
  .team_text-arrow {
    font-size: 26px;
    left: -70px;
    top: -5px;
  }
  .team_line {
    padding: 64px 16px 45px;
  }
  .team_line-last {
    padding: 64px 16px 45px;
  }
  .team_img {
    width: 102px;
    height: 102px;
  }
  .team_img-cont {
    width: 45%;
  }
  .team_position {
    font-size: 11px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .team_container-border {
    margin: 0 6vw;
  }
  .team_text-arrow {
    font-size: 24px;
    left: -60px;
    top: -5px;
  }
  .team_line {
    padding: 62px 14px 41px;
  }
  .team_line-last {
    padding: 62px 14px 41px;
  }
  .team_img {
    width: 99px;
    height: 99px;
  }
  .team_img-cont {
    width: 45%;
  }
  .team_position {
    font-size: 10px;
  }
  .team_text-container {
    padding: 66px 0 49px 0;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .team_container-border {
    margin: 0 15px;
  }
  .team_text-arrow {
    font-size: 22px;
    left: -50px;
    top: -5px;
  }
  .team_line {
    padding: 62px 14px 41px;
  }
  .team_line-last {
    padding: 62px 14px 41px;
  }
  .team_img {
    width: 99px;
    height: 99px;
  }
  .team_img-cont {
    width: 45%;
  }
  .team_position {
    font-size: 10px;
  }
  .team_text-container {
    padding: 70px 0px 50px;
  }
}
@media (min-width: 375px) and (max-width: 480px) {
  .team_container-border {
    margin: 0;
    border: none;
  }
  .team_text-arrow {
    font-size: 20px;
    left: -40px;
    top: -5px;
  }
  .team_line {
    padding: 62px 14px 41px;
  }
  .team_text-container {
    padding: 70px 21px 50px;
  }
  .team_line-last {
    padding: 62px 14px 41px;
  }
  .team_img {
    width: 80px;
    height: 80px;
  }
  .team_img-cont {
    width: 45%;
  }
  .team_position {
    font-size: 11px;
  }
}
