.GetStarted {
  border-bottom: 1px solid var(--border-color);
}
.GetStarted_container {
  margin: 0 7.5vw;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}
.GetStarted_text-container {
  border-bottom: 1px solid var(--border-color);
  padding: 102px 0 72px;
  display: flex;
  justify-content: center;
}
.GetStarted_text-cont {
  position: relative;
}
.GetStarted_text {
  font-size: 8vw;
  color: var(--text-color);
  font-weight: 100;
  display: flex;
  justify-content: center;
}
.GetStarted_arrow {
  font-size: 2.2vw;
  color: var(--main-text-color);
  position: absolute;
  top: 10px;
  left: -80px;
}
.GetStarted_input-containtwo {
  height: 288px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 21px;
  border-bottom: 1px solid var(--border-color);
  position: relative;
}
.GetStarted_input-containtwo:hover {
  background-color: #0f0f0f;
}
.GetStarted_size {
  width: 100%;
  color: var(--text-color);
  font-size: 25px;
  font-family: "Neuehaasdisplay Roman", sans-serif;
}
.form {
  width: 100%;
}
.GetStarted-input {
  width: 100%;
  font-size: 25px;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--main-text-color);
}
.GetStarted-input-last {
  width: 100%;
  height: 139px;
  font-size: 25px;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--main-text-color);
  word-wrap: break-word;
  padding-top: 100px;
  font-family: "Neuehaasdisplay Roman", sans-serif;
}
.GetStarted_number-color {
  color: var(--main-text-color);
}
.button_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 21px;
  height: 10vw;
  position: relative;
}
.GetStarted_button {
  width: 400px;
  height: 90px;
  border-radius: 57px;
  background-color: black;
  color: var(--text-color);
  border: 2px solid var(--main-text-color);
  font-size: 1.5vw;
  letter-spacing: -1px;
}
.GetStarted_button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.error-fild {
  height: 40px;
  width: 100%;
  color: var(--main-text-color);
  display: flex;
  align-items: center;
  position: absolute;
  top: 75%;
  font-family: "Neuehaasdisplay Roman", sans-serif;
  font-size: 20px;
  letter-spacing: 1.5px;
  justify-content: center;
}

@media (min-width: 1201px) and (max-width: 1440px) {
  .GetStarted_container {
    margin: 0 7.5vw;
  }
  .GetStarted_arrow {
    font-size: 28px;
    top: -5px;
  }
  .GetStarted_input-containtwo {
    padding: 0 18px;
  }
  .GetStarted_size {
    font-size: 1.5vw;
  }
  .GetStarted-input {
    font-size: 1.5vw;
  }
  .button_logo {
    padding: 0 18px;
    height: 150px;
  }
  .GetStarted_button {
    width: 19vw;
    height: 5vw;
    font-size: 25px;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .GetStarted_container {
    margin: 0 7vw;
  }
  .GetStarted_arrow {
    font-size: 26px;
    left: -70px;
    top: -5px;
  }
  .GetStarted_input-containtwo {
    padding: 0 18px;
    height: 153px;
  }
  .GetStarted-input-last {
    padding: 0;
    height: 30px;
    font-size: 16px;
  }
  .GetStarted_size {
    font-size: 16px;
  }
  .GetStarted-input {
    font-size: 16px;
  }
  .button_logo {
    padding: 0 15px;
    height: 150px;
  }
  .GetStarted_button {
    width: 217px;
    height: 57px;
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .GetStarted_container {
    margin: 0 6vw;
  }
  .GetStarted_arrow {
    font-size: 24px;
    left: -60px;
    top: -5px;
  }
  .GetStarted_input-containtwo {
    padding: 0 18px;
    height: 153px;
  }
  .GetStarted-input-last {
    padding: 0;
    height: 30px;
    font-size: 16px;
  }
  .GetStarted_size {
    font-size: 13px;
  }
  .GetStarted-input {
    font-size: 13px;
  }
  .button_logo {
    padding: 0 15px;
    height: 150px;
  }
  .GetStarted_button {
    width: 210px;
    height: 55px;
    font-size: 15px;
  }
  .GetStarted_text-container {
    padding: 66px 0 49px 0;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .GetStarted_container {
    margin: 0 15px;
  }
  .GetStarted_arrow {
    font-size: 22px;
    left: -50px;
    top: -5px;
  }
  .GetStarted_input-containtwo {
    padding: 0 18px;
    height: 153px;
  }
  .GetStarted-input-last {
    padding: 0;
    height: 30px;
    font-size: 13px;
  }
  .GetStarted_size {
    font-size: 13px;
  }
  .GetStarted-input {
    font-size: 13px;
  }
  .button_logo {
    padding: 0 15px;
    height: 150px;
  }
  .GetStarted_button {
    width: 210px;
    height: 55px;
    font-size: 20px;
  }
}

@media (min-width: 375px) and (max-width: 480px) {
  .GetStarted_container {
    margin: 0;
    border: none;
  }
  .GetStarted_text-container {
    padding: 70px 0 50px;
  }
  .GetStarted_arrow {
    font-size: 20px;
    left: -40px;
    top: -5px;
  }
  .GetStarted_input-containtwo {
    padding: 0 14px;
    height: 148px;
  }
  .GetStarted-input-last {
    padding: 0;
    height: 30px;
    font-size: 16px;
  }
  .GetStarted_size {
    font-size: 13px;
  }
  .GetStarted-input {
    font-size: 13px;
  }
  .button_logo {
    padding: 0 15px;
    height: 123px;
  }
  .GetStarted_button {
    width: 210px;
    height: 55px;
    font-size: 20px;
  }
  .error-fild {
    font-size: 4vw;
  }
}
