.slogan_main-container {
  border-bottom: 1px solid var(--border-color);
}

.slogan_second-container {
  margin: 0 7.5vw;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.slogan_text {
  padding: 96px 21px 0;
  font-size: 55px;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slogan_text-content {
  display: flex;
  justify-content: center;
}

.bold_text {
  color: var(--text-color);
  font-weight: 700;
}

.slogan_text-content p {
  height: 10vw;
  width: 44vw;
  font-size: 2.2vw;
  font-family: "Neuehaasdisplay Roman", sans-serif;
  color: var(--text-color-dark);
}

.slogan_small-text {
  display: flex;
  justify-content: space-between;
  padding-top: 4vw;
  margin-bottom: 12px;
}

.small_text-h1 {
  color: var(--text-color);
  font-size: 1.5vw;
  font-weight: 100;
  font-family: "Neuehaasdisplay Roman", sans-serif;
}

.small_text-span {
  color: var(--main-text-color);
  font-weight: 100;
  margin-right: 8px;
}

@media (min-width: 1201px) and (max-width: 1440px) {
  .slogan_second-container {
    margin: 0 7.5vw;
  }
  .slogan_small-text {
    padding-top: 3.5vw;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .slogan_second-container {
    margin: 0 7vw;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .slogan_second-container {
    margin: 0 6vw;
  }
  .slogan_text {
    padding: 9vw 21px 0;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .slogan_second-container {
    margin: 0 15px;
  }
  .slogan_text-content p {
    font-size: 2.7vw;
    height: 15vw;
    width: 55vw;
  }
  .slogan_text {
    padding: 9vw 21px 0;
  }
  .small_text-h1 {
    font-size: 2vw;
  }
}
@media (min-width: 375px) and (max-width: 480px) {
  .slogan_second-container {
    margin: 0;
    border: none;
  }
  .slogan_text {
    padding: 9vw 21px 0;
  }
  .slogan_text-content p {
    height: 24vw;
    width: 80vw;
    font-size: 4vw;
  }
  .slogan_small-text {
    padding-top: 20px;
  }
  .small_text-h1 {
    font-size: 3vw;
  }
}
